name: CI-CD

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  ci-cd:
    runs-on: ubuntu-latest

    permissions:
      packages: write
      contents: read

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    # ---------------------- CI ---------------------- #
    
    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18

    - name: Install dependencies
      run: npm install

    - name: Lint (no bloquea)
      run: npm run lint || true

    - name: Build frontend
      run: npm run build

    - name: Run E2E tests
      run: npm run test:e2e

    # ---------------------- CD ---------------------- #

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build Docker image
      run: docker build -t ghcr.io/${{ github.repository }}/frontend:latest .

    - name: Push Docker image
      run: docker push ghcr.io/${{ github.repository }}/frontend:latest
