name: CI-CD Frontend

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      
      - name: Checkout repo
        uses: actions/checkout@v3

      
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      
      - name: Install dependencies
        run: npm ci

    
      - name: Run unit tests
        run: npm run test --if-present

    
      - name: Build app before e2e
        run: npm run build --if-present

      - name: Start app for e2e
        run: |
          npx serve -s dist -l 5173 &
          sleep 5

      - name: Run e2e tests
        run: npm run e2e --if-present

      - name: Build project
        run: npm run build

      
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          IMAGE_NAME=$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
          docker build -t ghcr.io/${IMAGE_NAME}:latest .

      - name: Push Docker image
        run: |
          IMAGE_NAME=$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
          docker push ghcr.io/${IMAGE_NAME}:latest
